body {
    background-color: #B4E1FF;
}

#padder {
    padding-top: 31vh;
}

.header {
    text-align: center;
    color: #FFACE4;
    padding-bottom: 2.5vh;
    padding-top: 1vh;
    font-size: 45px;
    margin: 0;
}

.input {
    text-align: center;
}

#search:focus {
    width: 40%;
    outline-width: 0;
}

#search {
    background-image: url("resources/search.png");
    background-size: 15px 15px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 20%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 18px;
    border-color: #B8860B;
}

.searchBtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 3px #666666;
  font-family: "Georgia";
  color: #ffffff;
  font-size: 23px;
  padding: 5px 15px 5px 15px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.searchBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.searchBtn:focus {
    outline: 0;
}

.searchBtn:active {
    transform: translateY(1px);
}

.article {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    background-color: #F5FFC6;
    padding: 0px 7px 3px 12px;
    margin-bottom: 5px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.article:hover {
    border-left: 5px solid #ffd0c6;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.title {
    font-size: 28px;
    padding-top: 10px;
    margin-bottom: 8px;
    color: #d0c6ff;
    text-decoration: underline;
}

.summary {
    color: #d0c6ff;
    font-weight: bold;
    font-size: 22px;
}

.articleContainer {
    width: 60%;
    margin: 0 auto;
}

.articleContainer a {
    text-decoration: none;
    color: inherit;
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    font: normal 13px/100%;
    width: 23%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 1vh;
    left: 38.5%;
}

#loadMore:hover {
    background-color: #ADD8E6;
    color: #E6E6C7;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #484848;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #484848;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #484848;
}
:-moz-placeholder { /* Firefox 18- */
  color: #484848;
}